body {
	background-image: url('background.jpg');
	background-size: cover;	
}

.global-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.model-image {
    position: relative;
    display: block;
}

.container-fluid {
  padding-top: 70px;
  padding-bottom: 70px;
  position: relative;
}

.bg-1 {
  background-color: #4CB5F5;
  color: white;
}

.img-2 {
  position: absolute;
  width: 250px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-image {
    left: 50%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}
 
form {
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

pre {
	border: 1px;
	background-color: #D3D3D3 !important;
}
 
.card-title {
    font-weight: 300;
}
 
.btn {
    margin-top: 40px;
}

.image-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 35%;
	padding-bottom: 10px;
}
 
.login-form {
    width: 830px;
    margin: 20px;
}
 
.sign-up {
    text-align: center;
    padding: 20px 0 0;
}
 
.alert {
    margin-bottom: -30px;
    font-size: 13px;
    margin-top: 20px;
}
